.body_main {
    background-color: #17181E;
    padding: 2rem;
    margin: 2rem;
}


/* 일반 버튼 CSS*/
.button {
    background-color: #a6a6a9;
    font-weight: 400;
    font-size: 1rem;
    color: aliceblue;
    /*padding: 2rem;*/
    /*margin: 2rem;*/
    border-radius: 10px;
}





/* 아이템 마스터 컬럼(필드) 버튼 CSS*/
.col_button {
    background-color: #a6a6a9;
    font-weight: 400;
    font-size: 1rem;
    color: aliceblue;
    /*padding: 2rem;*/
    /*margin: 2rem;*/
    border-radius: 10px;
}
.col_button:hover {
      background-color: #363636;
      transition: 0.7s;
}

.col_button:active {
      background-color: #363636;
      transition: 0.7s;
}
/* 클릭 후 상태 유지 */
.col_button_clicked {
    background-color: #363636;
}

/* 버튼 비활성화 */
.button_disabled {
    background-color: #282828;
    color: #444444;
    font-weight: 400;
}





/* MODAL 창 CSS */
.modal_overlay {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    color: white;
}

.modal_window {
    background: rgba(35, 36, 41, 36);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(51, 49, 49, 0.18);
    width: 1300px;
    height: 1000px;
    position: relative;
    padding: 10px;
}