{% extends 'cokkack/model_frame.html' %}


{# block 부분 Overriding #}
{% block content %}
    {# 재정의 내용 : 2개 div 태그를 추가함 #}
    <div class="block_model_content">
        <b style="font-size: 25px; font-style: oblique; color: aquamarine"> ⊙ 프로젝트 설명 </b> <br><br>
        1) 개요 : SK MAGIC(가전제품) 상품 분류 모델 설계 및 개발 <br>
        2) 프로젝트 기간 : 2022/05 ~ 2022/08 <br>
        3) 사용 언어 및 패키지 <br>
        &nbsp;&nbsp; - 언어 : Python(PyCharm) / 패키지 : Pytorch, transformers(KoBERT) <br>
        &nbsp;&nbsp; - 데이터베이스 : Mysql(Workbench) <br>
        4) 담당 및 역할 <br>
        &nbsp;&nbsp; - 데이터 전처리 및 가공 <br>
        &nbsp;&nbsp; - 분류 모델 개발 <br>
        &nbsp;&nbsp; - 배치 작업 모니터링 로직 개발 <br>
        &nbsp;&nbsp; - 결과 데이터 분석 및 리포팅(정확도 검증) <br>
    </div>
    <div class="block_model_content">
        아이템 마스터 업로드 <br>
        <button class="button" id="item_upload_btn" onclick="open_modal_add_item()"> UPLOAD </button>
        <h2>{{site}}</h2>
    </div>
    <div class="block_model_content"> 여기 타이틀 옵션명
        <form method="POST" action="/portfolio/sk_magic">
            {% csrf_token %}
            타이틀 : <input type="text", name="title"/>
            옵션명 : <input type="text", name="option_name"/>
            <button class="button" onclick="ti_op_submit()" type="button"> COMPUTE </button>
        </form>
        결과값 :
            <div id="model_result">
                <span><c:out value="${model_result.manufacturer}"/></span>
                <span><c:out value="${model_result}"/></span>
                <span><c:out value="${model_result_b}"/></span>
            </div>
    </div>
{%  endblock %}