{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    {# 헤더 부분 css stylesheet 가져오기 #}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">


</head>
<body>
{# JQUERY 비동기식 방식 클릭시 실행 #}

<script type="text/javascript">

function ti_op_submit(){
    var title = document.querySelector('input[name="title"]');
    var option_name = document.querySelector('input[name="option_name"]');
    console.log(title.value + option_name.value);

    var csrftoken = "{{ csrf_token }}";
    console.log(csrftoken);

    $.ajax({
            type:'POST',
            url: 'ajax_test', // 데이터를 보낼 곳 url
            data: {
                'title' : title.value,
                'option_name':option_name.value,
                'csrfmiddlewaretoken': csrftoken,
            },
            datatype: 'json', // JSON 형식
            success: function(data){
                console.log('성공했따!!!!',data);

                {#var model_result = data;#}
                var manufacturer = data.manufacturer;
                var brand = data.brand;
                var model_name = data.model_name;
                // 해당 ID의 HTML에 표현
                // html 값 초기화
                $('#model_result').html('');

                // append 함수는 계속해서 결과물이 쌓임
                $('#model_result').append('제조사 : ', manufacturer, '<br>');
                $('#model_result').append('브랜드 : ',brand, '<br>');
                $('#model_result').append('모델명 : ',model_name, '<br>');


            },
            error: function(xhr,errmsg,err){
                console.log('실패했따!!!!');
            }
    });

}
</script>






<div style="display: flex; flex-direction: column">
    <div style="background : red">
        div1
        <p>히히히</p>

    </div>
    <div style="background : blue">
        div2

    </div>
</div>

{% include "cokkack/header.html" %}



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Coding KKackdugi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">포트폴리오</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div style="display: flex; flex-direction: row; text-align: center; justify-content: center; margin-top: 60px;">
    <div style="width: 500px; height: 1000px; background: yellowgreen; margin-right: 250px">
        <div>
            모델 정보
            카테고리 정보
            설명
            결과
        </div>

    </div>
    <div style="width: 500px; height: 1000px; background: orange">
        <div>
            모델 사용해보기
            <div>
                <h2> 타이틀/옵션명을 입력 후 버튼을 클릭하세요. </h2>
                <form method="POST" action="/main">
                    {% csrf_token %}
                    타이틀 : <input type="text", name="title"/>
                    옵션명 : <input type="text", name="option_name"/>
                    <button class="ajax_test" onclick="ti_op_submit()" type="button"> Compute </button>
                </form>









            </div>
            {# 타이틀/옵션명 작성 후 클릭 #}














            결과값 :
            <div id="model_result">
{#            <div>#}
{#                <span><c:out value="${model_result.manufacturer}"/></span>#}
                <span><c:out value="${model_result}"/></span>
{#            <span><c:out value="${model_result_b}"/></span>#}
{#            <span><c:out value="${model_result_md}"/></span>#}
            </div>
        </div>
    </div>



</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>
</html>